/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td {
    padding: 0;

    /* table elements 表格元素 */
    margin: 0;
}

/* 设置默认字体 */
body,
button,
input,
select,
textarea {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;

    /* for ie */

    /* font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif; */
    font-size: 12px;
}

h1 {
    font-size: 18px; /* 18px / 12px = 1.5 */
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
    text-align: center;
}

h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
} /* 将斜体扶正 */
code,
kbd,
pre,
samp,
tt {
    font-family: 'Courier New', Courier, monospace;
} /* 统一等宽字体 */
small {
    font-size: 12px;
} /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul,
ol {
    list-style: none;
}

/* 重置文本格式元素 */
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a:hover {
    text-decoration: none;
}

abbr[title],
acronym[title] {
    /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q::before,
q::after {
    content: '';
}

/* 重置表单元素 */
legend {
    color: #000;
} /* for ie6 */
fieldset,
img {
    border: none;
} /* img 搭车：让链接里的 img 无边框 */

/* 注：optgroup 无法扶正 */
a,
button,
input,
select,
textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
    outline: none;
}

/* 重置表格元素 */
table {
    // border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    height: 1px;
    border: none;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
body {
    // overflow-anchor: none;

    height: auto !important;
    overflow: hidden scroll;
    background: #eee !important;
}

/* 其他常用样式 */
.none,
.dn {
    display: none !important;
}

.hidden,
.vh {
    visibility: hidden !important;
}

.hide {
    opacity: 0 !important;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
}

.disabled-2,
[disabled] {
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
}

/* 动画 */
.example-enter {
    min-height: 100vh;
    opacity: 0;
    transform: translate(-200px, 0);
    transform: translate3d(-200px, 0, 0);
}

.example-enter.example-enter-active {
    z-index: 2;
    opacity: 1;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.example-exit {
    min-height: 100vh;
    opacity: 0;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition-property: transform, opacity;
    transition-duration: 0;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.example-exit.example-exit-active {
    z-index: 1;
    opacity: 0;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
}

//////////////////////////////////////////

.main {
    width: 1024px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 5px #999;

    ul {
        li {
            padding: 10px 0;
            list-style: none;

            .li-name {
                display: inline-block;
                padding-left: 10px;
            }

            &.page {
                height: 32px;
                text-align: center;
            }
        }
    }
}

.article-content img,
.reply-item-content img {
    max-width: 100%;
}

.reply-item {
    padding-top: 8px;
    border-bottom: 1px dashed #ccc;

    h5 {
        span {
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.article-content {
    word-wrap: break-word;
}

.reply {
    border-top: 1px solid #ccc;
}

pre {
    overflow: auto;
}
